<div class="g-table g-table--overflow">
  <table class="c-table c-table--directory">
    <thead class="c-table__head">
      <tr class="c-table__row">
        <td class="c-table__cell" colspan="2">
          <div class="c-table__levels">Detail level<span class="c-table__level"><a href="">1</a></span><span class="c-table__level">2</span></div>
        </td>
      </tr>
    </thead>
    <tbody class="c-table__body">
      <tr class="c-table__row">
        <td class="c-table__cell c-table__cell--parent">
          <span class="c-table__arrow"></span><span class="c-label">N</span><a href="">TestNamespace</a>
        </td>
        <td class="c-table__cell">This is a namespace --parent (closed)</td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell c-table__cell--parent">
          <span class="c-table__arrow c-table__arrow--is-open"></span><span class="c-label">N</span><a href="">TestNamespace</a>
        </td>
        <td class="c-table__cell">This is a namespace --parent (open)</td>
      </tr>
      <tr class="c-table__row"> 
        <td class="c-table__cell c-table__cell--child"><span class="c-label">C</span><a href="">TestClass</a>
        </td>
        <td class="c-table__cell">This is a class --child</td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell c-table__cell--child">
          <span class="c-label">C</span><a href="">TestExample</a>
        </td>
        <td class="c-table__cell">This is an example class --child</td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell c-table__cell--child"><span class="c-label">C</span><a href="">TestInheritingClass</a>
        </td>
        <td class="c-table__cell">This is a class which inherits from <a>TestClass</a> --child</td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell c-table__cell--child"><span class="c-label">C</span><a href="">TestTemplateClass</a>
        </td>
        <td class="c-table__cell">A template class --child</td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">
          <span class="c-label">C</span><a href="">aStructure</a>
        </td>
        <td class="c-table__cell">This is a structure (no children)</td>
      </tr>
    </tbody>
  </table>
</div>