<div class="g-table g-table--overflow">
  <table class="c-table c-table--members">
    <thead class="c-table__head">
      <tr class="c-table__row">
        <td class="c-table__cell" colspan="2"><h3 class="c-table__heading">Enumerator</h3></td>
      </tr>
    </thead>
    <tbody class="c-table__body">
      <tr class="c-table__row">
        <td class="c-table__cell"></td>
        <td class="c-table__cell">
          <a href="">TestClass</a> ()
          <div class="c-table__desc">A constructor. <a href="">More...</a></div></td>
        </td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">string</td>
        <td class="c-table__cell">
          <a href="">getString</a> (int argument)
          <div class="c-table__desc">A method. <a href="">More...</a></div></td>
        </td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">void</td>
        <td class="c-table__cell">
          <a href="">overloaded</a> (int argument)
          <div class="c-table__desc">An overloaded method. <a href="">More...</a></div></td>
        </td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">void</td>
        <td class="c-table__cell">
          <a href="">overloaded</a> (int argument, int anotherArgument)
          <div class="c-table__desc">An overloaded method. <a href="">More...</a></div></td>
        </td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell c-table__cell--parent" colspan="2">
          <span class="c-table__arrow"></span>Public Member Functions inherited from <a href="">TestNamespace::TestClass</a>
        </td>
      </tr>
      <tr class="c-table__row c-table__row--header">
        <td class="c-table__cell c-table__cell--parent" colspan="2">
          <span class="c-table__arrow c-table__arrow--is-open"></span>Public Member Functions inherited from <a href="">TestNamespace::TestClass</a> (--is-open)
        </td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">void</td>
        <td class="c-table__cell">
          <a href="">overloaded</a> (int argument, int anotherArgument)
          <div class="c-table__desc">An overloaded method. <a href="">More...</a></div></td>
        </td>
      </tr>
    </tbody>
  </table>
</div>