<div class="g-table g-table--overflow">
  <table class="c-table c-table--article">
    <tr class="c-table__row">
      <td class="c-table__cell">public T <a href="">TestNamespace::TestTemplateClass</a> <&nbsp;T&nbsp;>::getValue</td>
      <td class="c-table__cell">(</td>
      <td class="c-table__cell">int</td>
      <td class="c-table__cell"><span class="b-text--red">argument</span></td>
      <td class="c-table__cell"></td>
    </tr>
    <tr class="c-table__row">
      <td class="c-table__cell"></td>
      <td class="c-table__cell"></td>
      <td class="c-table__cell">int</td>
      <td class="c-table__cell"><span class="b-text--red">argument</span></td>
      <td class="c-table__cell"></td>
    </tr>
    <tr class="c-table__row">
      <td class="c-table__cell"></td>
      <td class="c-table__cell"></td>
      <td class="c-table__cell">int</td>
      <td class="c-table__cell"><span class="b-text--red">argument</span></td>
      <td class="c-table__cell">)</td>
    </tr>
  </table>
</div>