<div class="g-table g-table--overflow">
  <table class="c-table c-table--invert">
    <thead class="c-table__head">
      <tr class="c-table__row">
        <td class="c-table__cell" colspan="2"><h3 class="c-table__heading">Enumerator</h3></td>
      </tr>
    </thead>
    <tbody class="c-table__body">
      <tr class="c-table__row">
        <td class="c-table__cell">VALUE_1</td>
        <td class="c-table__cell">
          <div class="c-table__desc">1st value</div></td>
        </td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">VALUE_2</td>
        <td class="c-table__cell">
          <div class="c-table__desc">2nd value</div></td>
        </td>
      </tr>    
    </tbody>
  </table>
</div>