<dl class="c-list-definition">
  <dt class="c-list-definition__title">Title</dt>
  <dd class="c-list-definition__desc">description – <span class="b-text--red">argument</span> an integer</dd>
  <dt class="c-list-definition__title">Returns</dt>
  <dd class="c-list-definition__desc">value</dd>
</dl> 