[submodule "apis/pipeline-dotnet"]
	path = apis/pipeline-dotnet
	url = ../pipeline-dotnet
[submodule "apis/pipeline-java"]
	path = apis/pipeline-java
	url = ../pipeline-java
[submodule "apis/pipeline-node"]
	path = apis/pipeline-node
	url = ../pipeline-node
[submodule "apis/device-detection-node"]
	path = apis/device-detection-node
	url = ../device-detection-node
[submodule "apis/pipeline-php"]
	path = apis/pipeline-php
	url = ../pipeline-php
[submodule "apis/device-detection-php"]
	path = apis/device-detection-php
	url = ../device-detection-php
