<section class="g-footer g-footer--docs">
  {% block content %}    
  {% endblock %}
  <p class="g-footer__message">Have a data or code question? <a href="https://51degrees.com/contact-us">Get in touch</a> and explore <a href="https://51degrees.com/pricing">subscription options</a>.</p>
</section>