{% extends "groups-footer" %}

{% block content %}
  <div class="g-footer__navigation">
    <div class="g-footer__previous">
      <a href="{{ implementUrl }}" class="b-btn b-btn--large b-btn--secondary"><img src="/images/icon-arrow-left-black.svg" class="b-btn__icon" alt="Previous"><em>Previous step:</em>&nbsp;<strong>Implement</strong></a>
    </div>
  </div>
{% endblock %}