<p class="b-text--hidden">Hidden text</p> 
<hr />
<p class="b-text--default">Default text</p>
<hr />
<p class="b-text--count">Counter text</p>
<hr />
<p class="b-text--count-pill">Pill count text</p>
<hr />
<p class="b-text--property-pill">Pill property text</p>
<hr />
<p class="b-text--heading-1">Heading 1</p>
<hr />
<p class="b-text--heading-2">Heading 2</p>
<hr />
<p class="b-text--heading-3">Heading 3</p>
<hr />
<p class="b-text--heading-caps">Heading Caps</p>
<hr />
<p class="b-text--code">Code</p>
<hr />
<p class="b-text--copyright">Copyright</p>
<hr />
<p class="b-text--progress">Progress</p>
<hr />