<a href="#" class="b-link">Standard link</a> 
<hr />
<a href="#" class="b-link--property">Property link</a> 
<hr />
<a href="#" class="b-link--dotted">Dotted link</a> 
<hr />
<a href="#" class="b-link--unstyled">Unstyled link</a> 
<hr />
<a href="#" class="b-link--docs">Documentation link</a> 