<button class="b-btn">Default button</button>
<hr />
<button class="b-btn b-btn--secondary">Secondary button</button>
<hr />
<button class="b-btn b-btn--block">Block button</button>
<hr />
<button class="b-btn b-btn--large">Large button</button>
<hr />
<button class="b-btn" disabled>Disabled button</button>
<hr />
<a href="" class="b-btn">Anchor button</a>
<hr />
<button class="b-btn b-btn--large"><em>Complex:</em>&nbsp;<strong>button</strong> <img src="/images/icon-arrow-right-black.svg" class="b-btn__icon b-btn__icon--after" alt="Next"></button>