<input type="text" class="b-input" />
<input type="text" class="b-input" id="input" placeholder="Placeholder text">
<hr>
<div class="b-form-group b-form-group--with-icon">
  <img src="/images/icon-search.png" class="b-icon" alt="Search" />
  <input type="text" class="b-input" id="input" placeholder="Placeholder text">
</div>
<hr>
<div class="b-form-group">
  <input type="text" class="b-input b-input--block" id="input" placeholder="Placeholder text">
</div>
<hr>
<div class="b-form-group">
	<label for="text" class="b-label">Enter your email address</label>
  <div class="b-input-group">
  	<input type="text" class="b-input" id="input" placeholder="">
    <button class="b-btn">Activate</button>
  </div>
</div>