.g-search {
  display:flex;
  flex-direction:row;
  align-items: center;
  border: solid 1px $colour-black;
  border-radius: 28px;
  padding: 2px;
  margin: 0px  size(-2) size(-1);
  
  .c-search {
    z-index:1;
    margin-right:size(0);
    flex-grow:1;
  } 
  
  .c-filter {
    z-index:0;
    width:150px;
    @include respond-to(md) {
      width:250px;
      margin-right: 4px;
    }
  }
}