.g-example-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: size(2);
  @include respond-to(xl) {
    flex-direction: row;
  }
  .c-code {
    width: 100%;
    @include respond-to(lg) {
      // width: calc(100% - 300px); 
    }
  }
  .c-outputs {
	  background-color: $colour-white;
	  border-radius: 0 0 $rounded $rounded;
	  border: 1px solid $colour-grey-light;
    width: 100%;
	  @include respond-to(xl){
  	  width: 300px;
	    border-radius: 0 $rounded $rounded 0;
	    border-left: 0px;
	    box-shadow: $box-shadow-inside-left;
	  }
	  .c-outputs__header {
	  	border-radius: 0;
	  	@include respond-to(xl){
	  		border-radius: 0 $rounded 0 0;
	  	}
	  }
	}
}


