.c-section-nav {
  padding-left: size(2);
  padding-top: size(1);
  border-top: 1px solid $colour-grey-light;
  border-bottom: 1px solid $colour-grey-light;
  margin-bottom: size(5);
  @include respond-to(xxl) {
    padding-top: 0;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid $colour-grey-light;
  }
}

.c-section-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 size(0);
}

.c-section-nav__item {
  margin: 0;
}

.c-section-nav__link {
  padding: size(-5) 0;
  display: block;
  @include make-link-unstyled();
  &:hover {
    color: $colour-grey-darker;
  }
}

.c-section-nav__heading {
  @include make-text-heading-caps();
  color: $colour-grey-dark;
  font-weight:$font-weight-bold;
  margin: 0 0 size(-2);
}