.c-section-nav {
  padding-left: size(2);
  padding-top: size(1);
  border-top: 1px solid $colour-grey-light;
  border-bottom: 1px solid $colour-grey-light;
  margin-bottom: size(5);
  @include respond-to(xxl) {
    padding-top: 0;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid $colour-grey-light;
  }
}

.c-sub-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 size(0);
}

.c-sub-nav__item {
  margin: 0;
}

.c-sub-nav__item {
  @include make-link-dotted();
  display: inline-block;
  margin-bottom: size(-2);
  color: $colour-grey-darker;
  &:hover {
    color: $colour-black;
  }
}

.c-sub-nav__heading {
  @include make-text-heading-caps();
  color: $colour-grey-dark;
  font-size: size(-1);
  margin: 0 0 size(-2);
}