.c-category {
  
}

.c-category__link {
  @include make-link-unstyled();
  padding:size(0);
  display:inline-block;
  width:100%;
  &:hover,
  &.is-active {
    background-color:$colour-grey-lighter;
  }
  &.is-active {
    font-weight:$font-weight-bold;
  }
  position:relative;
  &:after {
    content: "";
    display:inline-block;
    width:20px;
    height:20px;
    background-image:url("/images/icon-arrow-right-orange.svg");
    background-repeat:no-repeat;
    background-position:center right;
    background-size:contain;
    position:absolute;
    right:size(0);
    top:50%;
    transform:translateY(-50%);
  }
}

.c-category__count {
  margin-left:size(-9);
  @include make-text-count();
  font-weight:$font-weight-regular;
  
  &--selected {
    @include make-text-count-pill();
    display:none;
  }
}