.c-search {
  position:relative;
  z-index:0;
}

.c-search__input {
  @include make-input();
  @include make-input-block();
  border: 0px;
  border-radius: 26px;
  height: 40px;
  .is-opened & {
  }
  &::placeholder {
    opacity:0;
    @include respond-to(md) {
      opacity:1;
    }
  }
} 

.c-search__content {
  display:none;
  .is-opened & {
    @include make-input();
    @include make-input-block();
    background-color:$colour-grey-lighter;
    border: 0; 
    border-radius: $rounded;
    box-shadow: $box-shadow-even;
    width: 120%;
    margin-top: 6px;
    padding-left:20px;
    display:block;
    position:absolute;
    left:-100%;
    right:20px;
    top:100%;
    z-index:-1;
    overflow:hidden;
    overflow: scroll;
    max-height: 50vh;
    @include respond-to(md) {
      left:-50%;
      width: 90%;
    }
    @include respond-to(lg) {
      left:-50%;
      width: 50%;
    }
  }
} 

.c-search__list {
  list-style:none;
  padding-left:0;
}

.c-search__item {
  padding-left:0;
  margin-bottom:size(0);
}