.c-filter {
  position:relative;
  z-index:0;
  &.is-opened {
  }
} 

.c-filter__toggle {
  @include make-link-unstyled();
  @include make-input();
  @include make-input-block();
  display:inline-block;
  background-color:$colour-white;
  position:relative;
  z-index:0;
  padding: 10px 20px;
  border: 0px;
  border-radius: 5px 26px 26px 5px;
  &:after {
    content:"";
    display:inline-block;
    position:absolute;
    right:20px;
    top:17px;
    width:14px;
    height:7px;
    background-image:url("/images/icon-dropdown-black.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
  }
    &:before {
      content: '';
      height: 25px;
      width: 1px;
      background-color: $colour-black;
      position: absolute;
      left: -15px;
      bottom: 8px;
      display: inline-block;
  }
  .is-opened & {
    background-color:$colour-grey-lighter;
    &:after {
      transform:rotate(180deg);
    }
  }
  span {
    display:none;
    @include respond-to(md) {
      display:inline;
    }
  }
}

.c-filter__content {
  display:none;
  .is-opened & {
    @include make-input();
    @include make-input-block();
    width: 200%;
    background-color:$colour-grey-lighter;
    box-shadow: $box-shadow-even;
    border: 0; 
    line-height: 1.5;
    margin:scale(0); 
    border-radius: $rounded;
    margin-top: 6px;
    padding-left:20px;
    display:block;
    position:absolute;
    right:10px;
    top:100%;
    z-index:-1;
    overflow:hidden;
    @include respond-to(md){
      width: 90%;
      left:18px;
    }
  }
} 

.c-filter__list {
  list-style:none;
  padding-left:0;
}

.c-filter__item {
  padding-left:0;
  margin-bottom:size(0);
}