.c-top-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: all .25s ease-in-out;
  text-decoration: none
}

.c-top-link__image {
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .1));
  width: 40px;
}

.c-top-link__label {
  @include make-text-heading-caps;
  font-size: size(-1);
  color: $colour-lime-dark;
  font-weight: $font-weight-bold;
}