{% extends "04-layouts/00-conf/00-conf-index" %}

{% block main %}
  <div class="g-options">
    {% include "groups-panel-implementations" with {} %}
  </div>
{% endblock %}

{% block footer %}
  {% include "groups-footer-implement" with {} %}
{% endblock %}