<section class="g-basket is-openable">
  <a class="g-basket__status" href="#">
    Selected properties<span class="g-basket__count">0</span>
  </a>
  <div class="g-basket__content">
    <ul class="g-basket__properties"></ul>
  </div>
</section>