.p-details {
  .g-info {
    padding:size(0) size(0)size(5) size(0);
    @include respond-to(md) {
      padding:size(7) 15%;
    }
    @include respond-to(xxl) {
      padding:size(7) 25%;
    }
  }
  
  .g-info__heading {
    margin-bottom:size(0);
  }
}