.l-index {
  position: fixed;
  overflow: hidden;
  .l-index__content {
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
  }
  
  .g-header {
    // min-height:60px;
  }
  
  .g-main {
    position:relative;
    width:100%;
    min-height:100px;
    display:flex;
    flex-grow:1;
    flex-direction:column;
  }
  
  .g-options {
    flex-grow:1;
  }
  
  .g-footer {
    bottom:0;
    width:100%;
  }
}