{% extends "components-card" %}

{% block content %}
  <p>Add domains you wish to use to reduce throttling and help us prevent unauthorized use of your licenses. Multiple domains can be comma separated (e.g. localhost, www.mydomain.com).</p>
  <div class="b-form-group">
    <input type="text" class="b-input b-input--block" id="input" placeholder="e.g. www.51degrees.co.uk, staging.51degrees.co.uk" aria-label="Domains">
  </div>
{% endblock %}