{% extends "components-card" %}

{% block content %}
  
  <p class="c-card__text">Share your new 51Degrees Cloud configuration with your colleagues and community. Simply use this URL containing your collection of properties. (Don’t worry – this won’t include any sensitive information such as API keys, domains or email addresses.)</p>
  <div class="b-form-group">
    <input type="text" class="b-input b-input--block" id="input" value="51degre.es/kjhgsd723hf963gf" readonly="readonly" aria-label="Your shareable URL">
  </div>
{% endblock %}