{% extends "groups-info" %}

{% block content %}  
  <h2 class="g-info__title">Client side implementation</h2>

  {% include "components-sub-nav" %}

  {% include "groups-example-prettify" %}
  
  <h3 class="g-info__subheading">Benefits of client side implementations</h3>
  
  <div class="g-info__description">
    <p><em>Richer context:</em> Understand how physical screen size, device price and page performance impact conversion and goal completion.</p>
    <p><em>User experience:</em> Discover insights, test, and learn to continually improve with richer data from Enhanced Analytics.</p>
    <p><em>Collaboration:</em> Easy to integrate with existing business intelligence tools including Google Analytics, Omniture, Coremetrics and Webtrends.</p>
  </div>

  {% include "components-top-link" %}


{% endblock %}