$colour-black: #252525;
$colour-white: #FFFFFF;

$colour-grey-darker: #646060;
$colour-grey-dark: #9B9B9B;
$colour-grey: #BFBFBF;
$colour-grey-light: #EAEAEA;
$colour-grey-lighter: #F8F8F8;

$colour-lime-darker: #9BA90D;
$colour-lime-dark: #BAC82A;
$colour-lime: #CBDB2A;
$colour-lime-light: #DAED1A;
$colour-lime-lighter: #F9FBE9;

$colour-red: #CC2B27;
$colour-orange:#F5841F;
$colour-blue:#00AEEF;
$colour-yellow:#FFF200;
$colour-purple:#553AD5;
$colour-pink: #D737AB;
$colour-pink-light: #FEF1F9;