@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint) + 1) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin scale($property, $xs, $sm: false, $md: false, $lg: false, $xl: false, $xxl: false){
  #{$property}:size($xs);
  @if $sm {
    @include respond-to(sm) {
      #{$property}:size($sm);
    }
  }
  @if $md {
    @include respond-to(md) {
      #{$property}:size($md);
    }
  }
  @if $lg {
    @include respond-to(lg) {
      #{$property}:size($lg);
    }
  }
  @if $xl {
    @include respond-to(xl) {
      #{$property}:size($xl);
    }
  }
  @if $xxl {
    @include respond-to(xxl) {
      #{$property}:size($xxl);
    }
  }
}