<section class="g-docs__section">
  <h2 class="g-docs__section-heading">Basic text section</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus culpa quaerat eius. Quia itaque, cupiditate tempore ad optio quas. Dolorum doloremque laudantium dignissimos harum possimus illum animi, impedit quaerat quos!</p>
  <p><code>#include <a href="">&lt;testclass.hpp&gt;</a></code></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos est culpa, dolorem sed aut, omnis quidem sunt deserunt, minima cumque blanditiis perferendis incidunt, explicabo quia quaerat laborum aliquam voluptates quae.</p>
  <p>Inheritance diagram for TestNamespace::TestClass:</p>
  <p><img src="https://via.placeholder.com/300x90.png" alt=""></p>
</section>