<section class="g-docs__section">
  <h2 class="g-docs__section-heading">Code block</h2>
  <p>This is the documentation for an example, use the code like:</p>
  {% include "components-code-example" with {} %}
</section>