.b-btn {
  @include make-text-default();
  @include make-link-unstyled();
  display:inline-flex;
  justify-content:center;
  align-items:center;
  padding:size(-1) size(3);
  border:1px solid $colour-lime-dark;
  // border-radius:$rounded;
  background-color:$colour-lime;
  cursor:pointer;
  #{$states} {
    background-color:$colour-lime-light;
    border:1px solid $colour-lime;
    text-decoration:none;
  }
  &.b-btn--disabled,
  &:disabled {
    background-color:$colour-grey-lighter;
    border:1px solid $colour-grey-light;
    color:$colour-grey-darker;
    cursor: not-allowed;
    pointer-events: all !important;
  }
}

.b-btn--large {
  @include respond-to(md) {
    padding:size(1) size(5);
  }
}

.b-btn--secondary {
  background-color:$colour-white;
  #{$states} {
    background-color:$colour-white;
  }
}

.b-btn--block {
  width:100%;
}

.b-btn__icon {
  margin-right:size(0);
  &--after {
    margin-right:0;
    margin-left:size(0);
  }
} 