<nav class="c-sidenav">
  <h4 class="c-sidenav__heading">Documentation</h4>
  <ul class="c-sidenav__list">
    <li class="c-sidenav__item"><a class="c-sidenav__link" href="">Getting started</a></li>
    <li class="c-sidenav__item"><a class="c-sidenav__link c-sidenav__link--children" href="">Modules</a></li>
    <li class="c-sidenav__item"><a class="c-sidenav__link c-sidenav__link--children" href="">Namespaces</a></li>
    <li class="c-sidenav__item">
      <a class="c-sidenav__link c-sidenav__link--children c-sidenav__link--is-open" href="">Classes (--is-open) </a>
      <ul class="c-sidenav__list">
        <li class="c-sidenav__item">
          <a class="c-sidenav__link c-sidenav__link--children c-sidenav__link--is-open" href="">Class list (--is-open)</a>
          <ul class="c-sidenav__list">
            <li class="c-sidenav__item">
              <a class="c-sidenav__link c-sidenav__link--children c-sidenav__link--is-open" href="">TestNameSpace (--is-open)</a>
              <ul class="c-sidenav__list">
                <li class="c-sidenav__item">
                  <a class="c-sidenav__link c-sidenav__link--children c-sidenav__link--is-open" href="">TestClass (--is-open)</a>
                  <ul class="c-sidenav__list">
                    <li class="c-sidenav__item"><a class="c-sidenav__link c-sidenav__link--is-active" href="">aVirtualMethod (--is-active)</a></li>
                    <li class="c-sidenav__item"><a class="c-sidenav__link" href="">getString</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="c-sidenav__item"><a class="c-sidenav__link c-sidenav__link--children" href="">Level two</a></li>
        <li class="c-sidenav__item"><a class="c-sidenav__link c-sidenav__link--children" href="">Level two</a></li>
      </ul>
    </li>      
    <li class="c-sidenav__item"><a class="c-sidenav__link c-sidenav__link--children" href="">Level one</a></li>
  </ul>
</nav>