<ul class="c-breadcrumb">
  <li class="c-breadcrumb__item"><a class="c-breadcrumb__link" href="">Breadcrumb root</a></li>
  <li class="c-breadcrumb__item"><a class="c-breadcrumb__link" href="">Breadcrumb 1</a></li>
  <li class="c-breadcrumb__item">Breadcrumb current</li>    
</ul>