<div class="c-section-nav">
  <h5 class="c-section-nav__heading">In this section</h5>
  <ul class="c-section-nav__list">
    <li class="c-section-nav__item">
      <a class="c-section-nav__link" href="">Public Member Functions</a>
    </li>
    <li class="c-section-nav__item">
      <a class="c-section-nav__link" href="">Protected Member Functions</a>
    </li>
    <li class="c-section-nav__item">
      <a class="c-section-nav__link" href="">List of all members</a>
    </li>
  </ul>
</div>