<nav class="c-sub-nav">
  <h3 class="c-sub-nav__heading">On this page</h3>
  <p>Understand how physical screen size, device price and page performance impact conversion and goal completion.</p>
  <ul class="c-sub-nav__list">
    <li class="c-sub-nav__link"><a href="" class="c-sub-nav__item">Example 1</a></li>
    <li class="c-sub-nav__link"><a href="" class="c-sub-nav__item">Example 2</a></li>
    <li class="c-sub-nav__link"><a href="#example3" class="c-sub-nav__item">Example 3</a></li>
  </ul>
</nav>