.g-panel {
  width:100vw;
  position:absolute;
  flex-direction:column;
  background:$colour-white;
  top:0;
  left:0;
  bottom:0;
  border-right:1px solid $colour-grey-light;
  @include respond-to(xl) {
    &--25 {
      width:25vw;
      .g-panel {
        left:25vw;
      }
    }
    &--50 {
      width:50vw;
      .g-panel {
        left:50vw;
      }
    }
    &--75 {
      width:75vw;
      .g-panel {
        left:75vw;
      }
    }
  }
  &--100 {
    position:relative;
    display:flex;
    flex-grow:1;
  }
  .g-panel {
    display:none;
    z-index:1;
    &.is-active {
      display:flex;
    }
  }
}

.g-panel__list {
  list-style-type: none;
  padding:0;
  margin:0;
  overflow-y:scroll;
  height:100%;
  padding-bottom:size(10);
}

.g-panel__item {

}