<h1 class="c-brand">
  <a href="{{ configureUrl }}" class="c-brand__link">
  {% if config == true %}
    <img src="/images/logo-51Degrees-Cloud@2x.png" alt="51 Degrees Cloud Configurator" class="c-brand__image">
  {% elseif docs == true %}
      <img src="/images/logo-51Degrees-Docs.png" alt="51 Degrees Documentation" class="c-brand__image">
  {% else %}
      <img src="/images/logo-51Degrees.png" alt="51 Degrees" class="c-brand__image">
  {% endif %}
  </a>
	<span class="c-tagline">Customisable device detection and more, in three easy steps</span>
</h1>