<ul class="c-progress">
  <li class="c-progress__item"><a class="c-progress__link" href="{{ configureUrl }}"><span class="c-progress__count">1</span><span class="c-progress__text"> Configure</a></li>
  <li class="c-progress__item"><a class="c-progress__link c-progress__link--active" href="{{ detailsUrl }}"><span class="c-progress__count">2</span><span class="c-progress__text"> Details</a></li>
  <li class="c-progress__item"><span class="c-progress__count">3</span><span class="c-progress__text"> Implement</li>
</ul>