<div class="c-search is-openable">
  <form class="c-search__form">
    <div class="b-form-group b-form-group--with-icon">
      <label for="inputSearch" class="b-text--hidden">Search</label>
      <img src="/images/icon-search.svg" class="b-icon" alt="Search" />
      <input type="text" class="c-search__input" id="inputSearch" placeholder="Start typing to find a property" aria-label="Search">
    </div>
  </form>
  <div class="c-search__content">
    <ul class="c-search__list">
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>
      <li class="c-search__item">Start typing to find a property</li>

    {# {% for option in options %}
      <li class="c-search__item">{{ option.name }}</li>
    {% endfor %} #}
    </ul>
  </div>
</div>