<div class="c-code">
  <header class="c-code__header" id="example3">
    <h2 class="c-code__heading">Example HTML code</h2>
    <a href="#" class="c-copy-clipboard"><img src="/images/icon-clipboard.svg" alt="Copy to clipboard"></a>
  </header>
  {% include "components-prettify" %}
</div>