<div class="c-code">
  <header class="c-code__header" id="example3">
    <h2 class="c-code__heading">Example HTML code</h2>
    <a href="#" class="c-copy-clipboard"><img src="/images/icon-clipboard.svg" alt="Copy to clipboard"></a>
  </header>
  <code class="c-code__block">
    <div class="c-code__line" data-id="code-block.line"><span class="c-code__keyword" data-id="keyword.keyword">namespace </span><a class="code" href="namespace_test_namespace.html">TestNamespace</a> {</div>
    <div class="c-code__line" data-id="code-block.line"><span class="c-code__preprocessor" data-id="keyword.preprocessor">#define SOME_PREPROCESSOR</span></div>
    <div class="c-code__line" data-id="code-block.line"> </div>
    <div class="c-code__line" data-id="code-block.line">  <span class="c-code__keyword" data-id="keyword.keyword">class </span>TestExample {</div>
    <div class="c-code__line" data-id="code-block.line">    <span class="c-code__keywordtype" data-id="keyword.type">void</span> <a name="a2"></a><a class="code" href="class_test_namespace_1_1_test_example.html#a415fc3d38cecb6dcce626bf10b3717e1">run</a>() {</div>
    <div class="c-code__line" data-id="code-block.line">      <span class="c-code__keyword" data-id="keyword.keyword">const</span> <span class="c-code__keywordtype" data-id="keyword.type">char</span> *stringLiteral = <span class="c-code__stringliteral" data-id="keyword.stringliteral">"this is a string"</span>;</div>
    <div class="c-code__line" data-id="code-block.line">      <span class="c-code__keyword" data-id="keyword.keyword">const</span> <span class="c-code__keywordtype" data-id="keyword.type">char</span> charLiteral <span class="c-code__charliteral" data-id="keyword.charliteral">'a'</span>;</div>
    <div class="c-code__line" data-id="code-block.line">      <span class="c-code__comment" data-id="keyword.comment">// This is a comment.</span></div>
    <div class="c-code__line" data-id="code-block.line">      <span class="c-code__comment" data-id="keyword.comment">/* This is another comment. */</span></div>
    <div class="c-code__line" data-id="code-block.line">    }</div>
    <div class="c-code__line" data-id="code-block.line">  }</div>
    <div class="c-code__line" data-id="code-block.line">}</div>
  </code>
</div>