<table class="c-eg-table">
  <thead class="c-eg-table__head">
    <tr class="c-eg-table__row">
      <th class="c-eg-table__cell">Property</th>
      <th class="c-eg-table__cell">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr class="c-eg-table__row c-eg-table__row--alt">
      <td class="c-eg-table__cell c-eg-table__cell--key">Hardware Vendor:</td>
      <td class="c-eg-table__cell">Apple</td>
    </tr>
    <tr class="c-eg-table__row">
      <td class="c-eg-table__cell c-eg-table__cell--key">Hardware Name:</td>
      <td class="c-eg-table__cell">iPhone</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--alt">
      <td class="c-eg-table__cell c-eg-table__cell--key">Device Type:</td>
      <td class="c-eg-table__cell">SmartPhone</td>
    </tr>
    <tr class="c-eg-table__row">
      <td class="c-eg-table__cell c-eg-table__cell--key">Platform Name:</td>
      <td class="c-eg-table__cell">iOS</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--alt">
      <td class="c-eg-table__cell c-eg-table__cell--key">Browser Name:</td>
      <td class="c-eg-table__cell">Mobile Safari</td>
    </tr>
    <tr class="c-eg-table__row">
      <td class="c-eg-table__cell c-eg-table__cell--key">Screen width (pixels):</td>
      <td class="c-eg-table__cell">390</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--alt">
      <td class="c-eg-table__cell c-eg-table__cell--key">Screen height (pixels):</td>
      <td class="c-eg-table__cell">844</td>
    </tr>
  </tbody>
</table>
