<p class="c-eg-legend">
  Evidence was
  <span class="c-eg-legend__swatch c-eg-legend__swatch--used">used</span>
  /
  <span class="c-eg-legend__swatch c-eg-legend__swatch--present">present</span>
  for detection
</p>
<table class="c-eg-table">
  <thead class="c-eg-table__head">
    <tr class="c-eg-table__row">
      <th class="c-eg-table__cell">Key</th>
      <th class="c-eg-table__cell">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr class="c-eg-table__row c-eg-table__row--used">
      <td class="c-eg-table__cell c-eg-table__cell--key">header.user-agent</td>
      <td class="c-eg-table__cell">Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) ...</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--used">
      <td class="c-eg-table__cell c-eg-table__cell--key">header.sec-ch-ua-platform</td>
      <td class="c-eg-table__cell">"iOS"</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--present">
      <td class="c-eg-table__cell c-eg-table__cell--key">header.accept-language</td>
      <td class="c-eg-table__cell">en-GB,en;q=0.9</td>
    </tr>
  </tbody>
</table>
