<table class="c-eg-table">
  <thead class="c-eg-table__head">
    <tr class="c-eg-table__row">
      <th class="c-eg-table__cell">Key</th>
      <th class="c-eg-table__cell">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr class="c-eg-table__row c-eg-table__row--present">
      <td class="c-eg-table__cell c-eg-table__cell--key">Accept-CH</td>
      <td class="c-eg-table__cell">Sec-CH-UA, Sec-CH-UA-Platform, Sec-CH-UA-Model</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--present">
      <td class="c-eg-table__cell c-eg-table__cell--key">Critical-CH</td>
      <td class="c-eg-table__cell">Sec-CH-UA-Platform</td>
    </tr>
  </tbody>
</table>
