<form method="get" class="c-eg-form">
  <div class="c-eg-form__row b-form-group">
    <div>
      <label class="b-label" for="ipAddress">Enter IP Address:</label>
      <input class="b-input" type="text" id="ipAddress" name="ipAddress"
             placeholder="e.g., 13.95.93.152">
    </div>
    <button class="b-btn" type="submit">Look Up</button>
  </div>
</form>
