<table class="c-eg-table">
  <thead class="c-eg-table__head">
    <tr class="c-eg-table__row">
      <th class="c-eg-table__cell">Property</th>
      <th class="c-eg-table__cell">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr class="c-eg-table__row c-eg-table__row--alt">
      <td class="c-eg-table__cell c-eg-table__cell--key">Registered owner:</td>
      <td class="c-eg-table__cell">Microsoft Corporation</td>
    </tr>
    <tr class="c-eg-table__row">
      <td class="c-eg-table__cell c-eg-table__cell--key">Registered country:</td>
      <td class="c-eg-table__cell">United States</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--alt">
      <td class="c-eg-table__cell c-eg-table__cell--key">Country:</td>
      <td class="c-eg-table__cell">United States</td>
    </tr>
    <tr class="c-eg-table__row">
      <td class="c-eg-table__cell c-eg-table__cell--key">Region:</td>
      <td class="c-eg-table__cell">Virginia</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--alt">
      <td class="c-eg-table__cell c-eg-table__cell--key">Town:</td>
      <td class="c-eg-table__cell">Boydton</td>
    </tr>
    <tr class="c-eg-table__row">
      <td class="c-eg-table__cell c-eg-table__cell--key">Latitude:</td>
      <td class="c-eg-table__cell">36.6676</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--alt">
      <td class="c-eg-table__cell c-eg-table__cell--key">Longitude:</td>
      <td class="c-eg-table__cell">-78.3875</td>
    </tr>
    <tr class="c-eg-table__row">
      <td class="c-eg-table__cell c-eg-table__cell--key">Accuracy radius:</td>
      <td class="c-eg-table__cell">5</td>
    </tr>
    <tr class="c-eg-table__row c-eg-table__row--alt">
      <td class="c-eg-table__cell c-eg-table__cell--key">Time zone offset:</td>
      <td class="c-eg-table__cell">-300</td>
    </tr>
  </tbody>
</table>
