<div class="c-eg-message">
  <p class="c-eg-message__text">
    Only a limited set of properties is available with the free Lite data file or default
    resource key. Access the full set of properties with a paid data file or resource key.
  </p>
  <a class="b-btn c-eg-message__cta" href="https://51degrees.com/pricing">Find out more</a>
</div>
